.search {
  padding: 1.2rem;
}
.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray);
}
.search-form {
  outline: none;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-gray-light);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.search-input {
  background-color: var(--color-gray-light);
  color: var(--color-black);
  border: none;
  outline: none;
  font-size: 1.6rem;
}
.search-input::placeholder {
  color: var(--color-black);
}
.search-icon {
  color: var(--color-gray);
  font-size: 1.8rem;
}

/* search topics */
.topic {
  padding: 1rem 0;
}
.topic-title {
  font-size: 1.8rem;
}
.topic-icon {
  font-size: 2rem;
}

.card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.card-about {
  font-size: 1.4rem;
}
.card-topic {
  font-size: 1.6rem;
}
