.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--color-gray);
}
.header-pages {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
