:root {
  --color-blue: #1da1f2;
  --color-black: #14171a;
  --color-gray: #657786;
  --color-white: #e1e8ed;
  --color-gray-light: #aab8c2;
  --color-extra-light: #f5f8fa;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "GFS Neohellenic", sans-serif;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  position: relative;

  height: 100vh;
}

/* sections */
.main {
  /* background-color: var(--color-black); */
  color: var(--color-black);
  height: 100vh;
}
